.companies-names {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color: #040707;
  line-height: 53px;
}

.mgs_error {
  color: red;
}

.reg_sub {
  width: 100%;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  background-color: #ff5444;
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

#otpInput {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #666666;
  margin-top: 12px;
}
#otpInput:focus {
  outline: none;
}

.about-text-titles {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
  margin: 0;
}
.about-text-titles:has(+ .text-btn:checked) {
  -webkit-line-clamp: initial;
}

.address_point h4 {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  padding-top: 30px;
}

.address_point p {
  margin: 0;
}

.about_box {
  border: 1px solid #b5abab;
  border-radius: 4px;
  padding: 9px;
}
.about-project-value {
  font-weight: 800;
  font-size: 18px;
}
.amenities,
.landmark, .more_info {
  padding-top: 21px;
}
.pdp__landmarks__wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.pdp__landmarks__card {
  width: 400px;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* .pdp__landmarks__card__inner {
  display: flex;
  align-items: center;
} */

.pdp__landmarks__card__head__ic {
  width: 50px;
  height: 50px;
  background-size: cover;
  margin-right: 15px;
}

.pdp__landmarks__content {
  flex: 1;
}

.pdp__landmarks__card__head {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.pdp__landmarks__card__body {
  margin-top: 10px;
}

.pdp__landmarks__card--wrap {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 5px;
}

.pdp__landmarks__card__action {
  cursor: pointer;
  color: #007bff;
  font-size: 14px;
  margin-top: 10px;
}

.pdp__landmarks__card__item {
  /* font-size: 15px;
  position: relative; */
  position: relative;
    padding: 0 0 0px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    text-overflow: ellipsis;
    max-width: 286px;
    display: inline-block;
    vertical-align: middle;
}
.pdp__landmarks__card__item::before {
  position: absolute;
  display: block;
  content: "";
  border: solid #009681;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 1px;
  left: 5px;
  width: 7px;
  height: 11px;
}

.pdp__landmarks__card__item--bold {
  font-weight: bold;
}

.facility_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 20px; */
}
.facility_title {
  margin: 0;
  color: var(--red-E63525);
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding:0 10px;
}

.project-text {
  font-size: 16px;
  color: var(--grey-333333);
  line-height: 20px;
  margin: 0;
  padding: 0 10px;
  position: relative;
  z-index: 9;
  display: flex;
  justify-content: flex-start;
}

.facility_wrapper > div {
  padding: 15px;
  position: relative;
}
.facility_wrapper > div:first-child{padding-left: 0;}
.facility_wrapper > div:nth-child(4n+1){padding-left: 0;}
.facility_wrapper > div::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 90%;
  border-left: 1px solid #cccc;
}
.facility_wrapper > div::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 85%;
  border-bottom: 1px solid #cccc;
  z-index: 1;
}

.facility_wrapper > div:nth-child(4n):after{
  border: none;
}
.gallery img {
  border-radius: 10px;
  width: 280px;
  height: 280px;
  object-fit: cover;
  margin: 0 auto;
}

.gallery_box {
  margin-right: 20px;
  text-align: center;
}
.thumbail-img .gallery img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.thumbail-img .gallery_box {
  margin-right: 0px;
}




.text-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.prj_box{
  text-decoration: none;
  overflow: hidden;
  border: 1px solid #d7d7d7;
  border-radius: 8px;
  background-clip: padding-box;
  display: inline-block;margin: 0 11px;
}
.prj_box img{width: 290px;height: 200px;}
.projdesc{padding: 16px;height: 176px;}


/* Responsive area  */

@media only screen and (max-width: 1440px) {
  .description-box {
    transform: translateY(-70px);
  }
  .save-box {
    padding: 40px 150px;
  }

  .save-title p {
    max-width: 350px;
    font-size: 14px;
  }
  .save-later-btn {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1199px){
  .prj_box img {height: -webkit-fill-available;}
  .more_info .slide{margin-left: 10px;}
  .more_info .slide:first-child{margin-left:0px;}
}
@media only screen and (max-width: 991px) {
  .gallery img{width: 100%;}
  .facility_wrapper {
    grid-template-columns: repeat(3, 1fr);
}
  .buy-image img {
    width: auto;
    height: auto;
  }
  .save-box {
    padding: 40px 15px;
    transform: translateY(0px);
    margin: 0;
  }
  .save-property {
    height: auto;
    padding: 15px 0;
  }
  .proparti-ponts {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 15px;
  }
  ul.pont-bullats li {
    font-size: 16px;
  }
  button.contact-buy-btn {
    padding: 6px 16px;
  }
}
@media only screen and (max-width: 576px) {
  .facility_wrapper {
    grid-template-columns: repeat(2, 1fr);
}
  .companies-names {
    font-size: 28px;
    line-height: 33px;
  }
  .agent-bullet-head {
    width: 40%;
    font-size: 16px;
  }
  .pont-heads {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }
  .proparti-ponts {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 479px) {
  .facility_wrapper {
    grid-template-columns: repeat(1, 1fr);
}
.facility_wrapper > div {
  margin-bottom: 15px;
}
.agent-bullet-head, .agent-bullet-descrip{width: 100%;}
}
.product-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-slider {
  width: 100%;
  margin-bottom: 15px;
}

.main-img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.thumb-slider {
  width: 100%;
  display: flex;
  justify-content: center;
}

.thumb-slide {
  padding: 5px;
  cursor: pointer;
}

.thumb-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 1px solid #ddd;
  transition: border-color 0.3s;
}

.thumb-slide:hover .thumb-img,
.thumb-slide.slick-current .thumb-img {
  border-color: #007bff;
}

/* ym */
.top_flore {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 0;
  }

  ul.flore_links {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    align-items: center;
    overflow: auto;
    text-wrap: nowrap;
  }

  ul.flore_links li a {
    text-decoration: none;
    font-size: 18px;
    color: #040707;
  }

  ul.flore_links::-webkit-scrollbar {
    height: 2px;
    border-radius: 9px;
  }
  ul.flore_links::-webkit-scrollbar-thumb {
    background-color: gray;
  }
  .flore_links li a.active {
    color: #e53726;
  }
  .sticky {
    position: fixed;
    top: 132px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
  }
  .sticky + .content {
    padding-top: 50px;
  }
  #description,#aboutProject,#amenities,#landmark,#nearbyProperties,#reviews{
    scroll-snap-align: start;
  }
/* ym */